body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

p{
  text-align: center;
  font-size: 12px;
}
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#data-container {
  margin-top: 20px;
}

.hidden {
  display: none;
}

#data-container ul {
  list-style-type: none;
  padding: 0;
}

#data-container li {
  padding: 10px;
  margin: 5px 0;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#error-message {
  color: red;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-top: 20px;
}
